 body {
  margin: 0;
  font-family: inter, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
.div-main{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.div-img > img {

  width: 300px;
  height: 320px;
  left: 40px;
  top: 100px;
  border-radius: 70px;
  padding: 50px;
}

.div-secondary{
  padding: 55px;
  width: 450px;
}

.div-location{
  font-weight:600 ;
}
.div-map{
  color: #918E9B;
  text-decoration: underline;
}

.div-header{
  display: flex;
  justify-content: space-between;
} */

body {
  margin: 0;
}
img {
  width: 300px;
  height: 320px;
  border-radius: 3%;
}

.div-main{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 5%;
}

.div-location{
  font-weight:600 ;
}
.div-map{
  color: #918E9B;
  text-decoration: underline;
}

@media screen and (max-width: 640px){
  .div-main{
    display: flex;
    flex-direction: column;
    padding: 5%;
  }
}
@media screen and (max-width: 768px){
  .div-main{
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 1%;
  }
}